@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Akaya+Telivigala&family=Aladin&family=Ceviche+One&family=Fruktur:ital@0;1&family=Ga+Maamli&family=Itim&family=Marko+One&family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave+Display&family=Signika:wght@300..700&family=Sonsie+One&family=Spicy+Rice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   /* orange blue to purple */
   /* background-color: hsla(0, 100%, 50%, 1);
   background-image: radial-gradient(
         at 40% 20%,
         hsla(28, 100%, 74%, 1) 0px,
         transparent 50%
      ),
      radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */

   /* Blue orange to some */
   background-color: #ffcf99;
   background-image: radial-gradient(
         at 27% 72%,
         hsla(224, 97%, 63%, 1) 0px,
         transparent 50%
      ),
      radial-gradient(at 16% 41%, hsla(93, 62%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 19% 6%, hsla(219, 93%, 69%, 1) 0px, transparent 50%),
      /* radial-gradient(at 56% 90%, hsla(102, 90%, 78%, 1) 0px, transparent 50%), */
         radial-gradient(at 3% 74%, hsla(169, 67%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 45% 20%, hsla(0, 80%, 79%, 1) 0px, transparent 50%),
      radial-gradient(at 73% 51%, hsla(262, 79%, 63%, 1) 0px, transparent 50%),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

   /* blue purple to yellow orange  */
   /* background-color: #fc99ff;
   background-image: radial-gradient(
         at 18% 76%,
         hsla(60, 94%, 75%, 1) 0px,
         transparent 50%
      ),
      radial-gradient(at 14% 22%, hsla(185, 72%, 78%, 1) 0px, transparent 50%),
      radial-gradient(at 43% 81%, hsla(330, 86%, 75%, 1) 0px, transparent 50%),
      radial-gradient(at 56% 96%, hsla(40, 69%, 68%, 1) 0px, transparent 50%),
      radial-gradient(at 95% 0%, hsla(234, 80%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 23% 9%, hsla(194, 99%, 70%, 1) 0px, transparent 50%),
      radial-gradient(at 23% 0%, hsla(123, 85%, 70%, 1) 0px, transparent 50%),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */

   /* Light yellow to blue green */
   /* background-color: #fc99ff;
   background-image: radial-gradient(
         at 28% 24%,
         hsla(60, 94%, 75%, 1) 0px,
         transparent 50%
      ),
      radial-gradient(at 68% 56%, hsla(185, 72%, 78%, 1) 0px, transparent 50%),
      radial-gradient(at 45% 17%, hsla(330, 86%, 75%, 1) 0px, transparent 50%),
      radial-gradient(at 70% 13%, hsla(40, 69%, 68%, 1) 0px, transparent 50%),
      radial-gradient(at 95% 0%, hsla(234, 80%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 66%, hsla(194, 99%, 70%, 1) 0px, transparent 50%),
      radial-gradient(at 45% 71%, hsla(123, 85%, 70%, 1) 0px, transparent 50%),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
}

/* For moving circles in background */
@layer utilities {
   .animation-delay-2000 {
      animation-delay: 2s;
   }
   .animation-delay-4000 {
      animation-delay: 4s;
   }
}

.noise {
   /* background-color: rgb(38, 13, 61); */
   background-image: url(/assets/noise.png);
}

.noise1 {
   /* background: rbg(219, 169, 255); */
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
