@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Akaya+Telivigala&family=Aladin&family=Ceviche+One&family=Fruktur:ital@0;1&family=Ga+Maamli&family=Itim&family=Marko+One&family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave+Display&family=Signika:wght@300..700&family=Sonsie+One&family=Spicy+Rice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
   background-color: #ffcf99;
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10.0' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
      radial-gradient(at 59% 67%, hsla(62, 85%, 69%, 1) 0px, transparent 50%),
      radial-gradient(at 46% 93%, hsla(173, 81%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 53% 99%, hsla(342, 95%, 71%, 1) 0px, transparent 50%),
      radial-gradient(at 50% 7%, hsla(287, 84%, 79%, 1) 0px, transparent 50%),
      radial-gradient(at 96% 86%, hsla(247, 87%, 70%, 1) 0px, transparent 50%),
      radial-gradient(at 2% 13%, hsla(344, 83%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 12% 93%, hsla(215, 82%, 73%, 1) 0px, transparent 50%);
} */

body {
   background-color: #f6d2f9;
   background-image: radial-gradient(
         at 27% 72%,
         hsla(224, 97%, 63%, 1) 0px,
         transparent 50%
      ),
      radial-gradient(at 16% 41%, hsla(93, 62%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 19% 6%, rgb(90, 148, 255) 0px, transparent 50%),
      /* radial-gradient(at 56% 90%, rgb(255, 255, 255) 0px, transparent 50%), */
         radial-gradient(at 3% 74%, hsla(169, 67%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 45% 20%, hsla(0, 80%, 79%, 1) 0px, transparent 50%),
      radial-gradient(at 73% 51%, hsla(262, 79%, 63%, 1) 0px, transparent 50%);
   /* url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
}

/* url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10.0' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E") */

/* url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E") */

/* For moving circles in background */
@layer utilities {
   .animation-delay-2000 {
      animation-delay: 2s;
   }
   .animation-delay-4000 {
      animation-delay: 4s;
   }
}

.noise {
   /* background-color: rgb(38, 13, 61); */
   background-image: url(/assets/noise.png);
}

.noise1 {
   /* background: rbg(219, 169, 255); */
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 252 252' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
